/* Font */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Font - END */

/* * {
  outline: 1px red solid;
  outline-offset: -1px;
} */

/* Почему body в высоту 904??? */
/* flex-direction: row; - дефолтное значение, можно не прописывать */


/* Var */
:root {
  --main-bgcolor: #f2f2f2;
  --white: #ffffff;

  --text-basic: #000000;
  --text-second: #333333;

  --button-dark: #756157;
  --button-light: #82b3d3;
  --button-like: #7db54f;
  --button-decorative: #f2f2f2;

  --spare-bgcolor-hero: #c3dded;
  --spare-bgcolor-subscribe: #81b3d3;
  --spare-bgcolor-filter: #81b3d3;

  --bgcolor-advantages-image: #82b3d3;
  --bgcolor-advantages-light: #e6f0f6;
  --bgcolor-advantages-lighter: #f0f6fa;
  --bgcolor-services-dark: #f0f6fa;
  --bgcolor-subscribe-field: #f2f2f2;

  --border-dark: #000000;
  --border-light: #e5e5e5;
  --border-card: #e6e6e6;

  --main-shadow: rgba(0, 0, 0, 0.2);

  --bgcolor-pagination-current: #f2f2f2;
  --bgcolor-pagination-disabled: #82b3d3;

  --font-family: "PT Sans", sans-serif;
}

/* Var END */

/* Сommon */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: var(--text-basic);
  background-color: var(--main-bgcolor);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* не проходит критерий CSS-02 -- нужно будет убирать точечно */
/* h1,
h2,
h3,
h4,
p {
  margin: 0;
} */

/* почему  не работает bg-color: #ffffff для всей страницы */
.page-container {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 var(--main-shadow);
}

.main-header,
.main-index,
.main-catalog,
.main-footer {
  background-color: var(--white);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-all {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__link {
  display: block;
  padding: 8px;
}

.nav-item,
.socials-item {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-basic);
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}

/* почему нельзя выровнять по вертикали с помощью vertical-align: middle */
.section-intro {
  padding: 69px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-intro__title {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: var(--text-basic);
  font-weight: 700;
  text-transform: uppercase;
}

.section-intro__text {
  font-size: 22px;
  line-height: 26px;
  color: var(--text-second);
}

.main-footer__phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--text-basic);
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

.button--dark {
  background-color: var(--button-dark);

}

.button--light {
  background-color: var(--button-light);
}

.button--transparent {
  background-color: transparent;
}

.button--like {
  background-color: var(--button-like);
}

.button--decorative {
  background-color: var(--button-decorative);
}

/* Сommon - END */


/* Index */

.main-nav {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-link {
  margin-right: 30px;
  align-self: flex-start;
}

.logo-image {
  /* display: block;
  - так нормализировать изображение нельзя,
  нормализация по критериям сделана - см.строку 89,
  но в итоге изображение не заполняет всё пространство ссылки((
  */

}

.site-nav {
  margin-left: 0;
  max-width: 506px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.user-nav {
  margin-left: auto;
  max-width: 356px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.user-nav-modal {
  min-width: 160px;
  margin-left: 20px;
  padding: 8px;
}

.hero {
  min-height: 485px;
  padding: 50px;
  background-color: var(--spare-bgcolor-hero);
  background-image: url("../images/welcome--divider.svg"), url("../images/welcome--background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  text-align: center;
}

.hero__wellcome {
  margin: 0 auto;
}

.advantages__intro {
  margin-bottom: 30px;
}

.advantages-list,
.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages__item--without-image,
.services__list .services__item {
  width: 400px;
  padding: 85px;
  text-align: center;
}

.advantages__item:nth-child(5) .advantage-wrapper {
  order: 1;
}

.advantage-wrapper {
  padding: 85px;
}

.advantages__item--with-image {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.advantage-title,
.service-title {
  margin-bottom: 30px;
}

.advantages__item--with-image .advantage-title,
.advantages__item--with-image .advantage-text,
.advantages__item--with-image .advantage-image {
  color: var(--white);
}

.advantages__item--with-image {
  background-color: var(--bgcolor-advantages-image);
}

.advantages__item--without-image:nth-child(2n) {
  background-color: var(--bgcolor-advantages-lighter);
}

.advantages__item--without-image:nth-child(2n+1) {
  background-color: var(--bgcolor-advantages-light);
}

.advantages__item--light .advantage-title,
.service-title {
  color: var(--text-basic);
}

.advantages__item--light .advantage-text,
.service-text {
  color: var(--text-second);
}

.advantage-title,
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-text,
.service-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.services-wrapper {
  padding: 64px 70px;
}

.services__item:nth-child(2n) {
  background-color: var(--white);
}

.services__item:nth-child(2n+1) {
  background-color: var(--bgcolor-services-dark);
}

.interest {
  padding: 96px 70px;
}

.interest__text {
  margin-bottom: 54px;
}

.interest__button {
  min-width: 376px;
  margin: 0 auto;
  padding: 8px 20px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe.section-intro {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subscribe--with-background {
  background-color: var(--spare-bgcolor-subscribe);
  background-image: url("../images/subscribe--background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.subscribe .section-intro__title {
  margin-bottom: 20px;
}

.subscribe .section-intro__text {
  margin-bottom: 54px;
}

.subscribe--with-background .section-intro__title,
.subscribe--with-background .section-intro__text {
  color: var(--white);
}

.subscribe--without-background .section-intro__title {
  color: var(--text-basic);
}

.subscribe--without-background .section-intro__text {
  color: var(--text-second);
}

/* почему тут не работает border-radius */
.subscribe__form {
  min-width: 684px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subscribe__field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-basic);
  flex-grow: 1;
  border: 0;
  padding: 14px 20px;
  background-color: var(--bgcolor-subscribe-field);
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  min-width: 232px;
  border-radius: 0 4px 4px 0;
  padding: 8px 20px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe__field::placeholder {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}

.main-footer-wrapper {
  max-width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.footer-logo-image {
  /* display: block; */
}

/* Index - END */


/* Catalog */

.inner__wrapper-header-filter {
  background-color: var(--spare-bgcolor-filter);
  background-image: url("../images/filter--background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: var(--white);
}

.inner__header,
.filter {
  max-width: 1060px;
  margin: 0 auto;
}

.filter__button.button--light,
.filter__button.button--transparent {
  min-width: 191px;
  padding: 8px 20px;
}

.filter-result--text {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.inner__title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.filter-group__title {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.switch--active {
  border: 2px solid var(--border-dark);
}

.switch--disabled {
  border: 2px solid var(--border-light);
}

.control-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
}

.catalog__select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-second);
  background-color: var(--white);
}

.card__item {
  width: 340px;
  box-shadow: 0 0 0 1px var(--border-card);
  border-radius: 4px;
  padding: 20px;
}

.catalog-cards {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}

.card__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-basic);
  text-decoration: none;
}

.card__image {
  max-width: 100%;
  height: auto;
}

/* Почему ширина в итоге не 300, а 300.4 */
.card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.card__type,
.card__price {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-second);
}

.card__details.button--dark,
.card__like.button--light,
.card__like.button--like,
.card__caption.button--decorative {
  min-width: 140px;
  padding: 8px 20px;
}

.card__caption {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-second);
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__link,
.pagination__text {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 0 8px;
  text-align: center;
}

/* как отцентрировать по вертикали?, кроме line-height */
.pagination__link {
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination__text {
  font-size: 22px;
  line-height: 60px;
}

.pagination__link--current {
  font-weight: bold;
  color: var(--text-basic);
  background-color: var(--bgcolor-pagination-current);
}


.pagination__link--disabled {
  color: var(--white);
  background-color: var(--bgcolor-pagination-disabled);
}

/* Catalog - END */



/* из статьи про нормализацию стилей
https://up.htmlacademy.ru/profession/frontender/19/htmlcss/39/module/4/item/29
 */
