/* Font */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Font - END */


/* Сommon */

/* * {outline: 1px red solid; outline-offset: -1px;} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* почему  не работает bg-color: #ffffff для всей страницы */
.page-container {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header,
.main-index,
.main-footer {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-all {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}

/* почему нельзя выровнять по вертикали с помощью vertical-align: middle */
.section-intro {
  padding: 69px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-intro__title {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.section-intro__text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.main-footer__phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.button--dark {
  background-color: #756157;
}

.button--light {
  background-color: #82b3d3;
}

.button--transparent {
  background-color: rgba(0, 0, 0, 0);
}

.button--like {
  background-color: #7db54f;
}

.button--decorative {
  background-color: #f2f2f2;
}

/* Сommon - END */


/* Index */

.main-nav {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.logo-link {
  margin-right: 30px;
}

.site-nav {
  margin-left: 0;
  max-width: 506px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.site-nav__item {
  padding: 8px 16px;
}

.user-nav {
  margin-left: auto;
  max-width: 356px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-nav__item:nth-child(2) {
  margin-right: 20px;
}

.user-nav__modal {
  min-width: 160px;
  padding: 8px;
}

.hero {
  min-height: 485px;
  padding: 50px;
  background-color: #c3dded;
  background-image: url("../images/welcome--background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.hero__wellcome {
  margin: 0 auto;
}

.advantages__intro {
  margin-bottom: 30px;
}

.advantages-list,
.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages__item:nth-child(2),
.advantages__item:nth-child(3),
.advantages__item:nth-child(4),
.services__list .services__item {
  max-width: 400px;
  padding: 85px;
  text-align: center;
}

.advantages__item:nth-child(5) .advantage-wrapper {
  order: 1;
}

.advantage-wrapper {
  padding: 85px;
}

.advantages__item--with-image {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.advantage-title,
.service-title {
  margin-bottom: 30px;
}

.advantages__item--with-image .advantage-title,
.advantages__item--with-image .advantage-text,
.advantages__item--with-image .advantage-image {
  color: #ffffff;
}

.advantages__item--with-image {
  background-color: #82b3d3;
}

.advantages__item--lighter {
  background-color: #f0f6fa;
}

.advantages__item--light {
  background-color: #E6F0F6;
}

.advantages__item--light .advantage-title,
.service-title {
  color: #000000;
}

.advantages__item--light .advantage-text,
.service-text {
  color: #333333;
}

.advantage-title,
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-text,
.service-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.services-wrapper {
  padding: 64px 70px;
}

.services__item--dark {
  background-color: #f0f6fa;
}

.interest {
  padding: 96px 70px;
}

.interest__text {
  margin-bottom: 54px;
}

.interest__button {
  min-width: 376px;
  margin: 0 auto;
  padding: 8px 20px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe--with-background {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #81B3D3;
  background-image: url("../images/subscribe--background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  color: #ffffff;
}

.subscribe__title.section-intro__title {
  margin-bottom: 20px;
  color: #ffffff;
}

.subscribe__text.section-intro__text {
  margin-bottom: 54px;
  color: #ffffff;
}

.subscribe__form {
  min-width: 684px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}

.subscribe__field {
  flex-grow: 1;
  border: 0;
  padding: 14px 20px;
  background-color: #f2f2f2;
}

.subscribe__button {
  min-width: 232px;
  border-radius: 0 4px 4px 0;
  padding: 8px 20px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe__field::placeholder {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}


.main-footer-wrapper {
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
/* Index - END */


/* Catalog */

.inner__wrapper-header-filter {
  background-color: #81B3D3;
  background-image: url("../images/filter--background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: left;
  color: #ffffff;
}

.inner__title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.filter-group__title {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.switch--active {
  border: 2px solid #000000;
}

.switch--disabled {
  border: 2px solid #e5e5e5;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.catalog__select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card__item {
  border: 1px solid #e6e6e6;
}

.card__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.card__type,
.card__price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card__caption {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.pagination__link {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination__text {
  font-size: 22px;
  line-height: 26px;
}

.pagination__link--current {
  color: #000000;
  background-color: #f2f2f2;
}


.pagination__link--disabled {
  color: #ffffff;
  background-color: #82b3d3;
}

/* Catalog - END */



/* из статьи про нормализацию стилей
https://up.htmlacademy.ru/profession/frontender/19/htmlcss/39/module/4/item/29
 */
